/* COMMON.css */

/* {
    border: 1px solid red;
}*/

body {
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: 'Arial', 'helvetica', sans-serif;
}
/***************** DOM ELEMENTS */

a {
    text-decoration: none;
    color: #3cb878;
}
a:hover {
    text-decoration: underline;
    color: #cbcbcb;
}
a:visited {
    text-decoration: none;
    color: #3cb878;
}
a:active {
    text-decoration: none;
    color: #FFF;
}

/***************** CLASS */

.btn_nav {
    display: inline-block;
    position: relative;
    width: auto;
    height: 50px;
    padding: 5px;
    line-height: 50px;
    color: #cbcbcb;
    cursor: default;
    background-color: rgba(255,255,255,0.0);
    -webkit-transition: background-color 0.2s;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}

.btn_nav:hover {
    background-color: rgba(255,255,255,0.1);
}

/**************** ID */

#nav_logo {
    display: inline-block;
    height: 60px;
    width: 120px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 55px;
}

#nav_logo_img {
    width: 100%;
    vertical-align: middle;
}

#nav_tagline {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Oswald', monospace;
    font-size: 0.6em;
    color: #FFF;
}

#nav_wrapper {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #323232 0%, #1e1e1e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #323232 0%,#1e1e1e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #323232 0%,#1e1e1e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#navbar {
    position: absolute;
    right: 0px;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
    z-index: 1000;
}

#page_wrapper {
    position: absolute;
    margin-top: 60px;
    width: 100%;
    height: 850px;
    background-image: url('../img/bg.png');
    background-repeat: repeat;
    background-blend-mode: screen;
    background-color: #444;
    z-index: -1;
}#page_content {    position: absolute;    width: 90%;    height: auto;    padding: 20px;    margin-left: 3%;    margin-top: 30px;    border: 1px solid #ddd;    background-color: #efefef;}#footer {    position: fixed;    width: 100%;    bottom: 0px;    height: 30px;    background-color: #1e1e1e;    color: #3cb878;    z-index: 1000;    font-size: 0.6em;    line-height: 30px;}